<%= form_for(card, method: :put, html: {class: "game_card game_card_styling", id: "card_form_#{card.id}"}, remote: true) do %>
            <a class="tilter tilter-lines" id="card_<%= card.id %>">
              <figure class="tilter__figure">
                <%= image_tag card.image, class: "tilter__image" %>
                <div class="tilter__deco tilter__deco--shine"></div>
                <figcaption class="tilter__caption-title">
                  <h3 class="tilter__title card-text"><%= card.name %></h3>
                </figcaption>
                <figcaption class="tilter__caption">
                  <p class="tilter__description card-text"><%= card.description %></p>
                  <p class="tilter__votes card-text">Total Votes: <%= card.votes %></p>
                </figcaption>
                <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
                  <path d="M20.5,20.5h260v375h-260V20.5z" />
                </svg>
              </figure>
            </a>
          <% end %>

