<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <a  class="tilter" id="card_<%= card.id %>" style="margin: 0.8em auto">
              <figure class="tilter__figure">
                <%= image_tag card.picture.url, class: "tilter__image" %>
                <div class="tilter__deco tilter__deco--shine"></div>
                <figcaption class="tilter__caption-title">
                  <h3 class="tilter__title card-text"><%= card.name %></h3>
                </figcaption>
                <figcaption class="tilter__caption">
                  <p class="tilter__description card-text"><%= card.description %></p>
                  <p class="tilter__votes card-text">Total Votes: <%= card.votes %></p>
                </figcaption>
              </figure>
            </a>
          </div>