<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? "Samurai Jack Voting Game" : "#{@title} | Samurai Jack Voting Game" %></title>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" href="android-icon.png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Abril+Fatface" rel="stylesheet">
    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body ontouchstart="" style="background-image: url(<%= @background.nil? ? asset_path("background.png") : asset_path(@background)%> );">

    <%= render "shared/navbar" %>

    <main class="cd-image-mask-effect" id="portal-main">
      <section class="page-selected cd-project-mask">
        <div class="mask">
          <%= image_tag 'portal.jpg', class: 'portal-img'%>
          <span class="mask-border mask-border-top"></span>
          <span class="mask-border mask-border-bottom"></span>
          <span class="mask-border mask-border-left"></span>
          <span class="mask-border mask-border-right"></span>
        </div>
        <div class="cd-project-info">
          <div class="content-wrapper">
          </div>
        </div>
      </section>
    </main>

    <div class="primary-content"> 
      <%= yield %>
    </div>
    
  </body>

  <%= render "shared/footer" %>

  <%= javascript_include_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<% if @tilter_feature %>   
  <script>
    (function() {
      var tiltSettings = [];
      function init() {
        var idx = 0;  [].slice.call(document.querySelectorAll('a.tilter')).forEach(function(el, pos) { 
          idx = pos%2 === 0 ? idx+1 : idx;
          new TiltFx(el, tiltSettings[idx-1]);
        });
      }

      // Preload all images.
      imagesLoaded(document.querySelector('main'), function() {
        init();
      });
    })();
  </script>
<% end %>
</html>
